
.PaginadeProyectosProyecto_PaginadeProyectosProyecto {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Fondo {
	position: absolute;
	left: -2px;
	top: 0px;
	width: 1442px;
	height: 810px;
	object-fit: cover;
	overflow: hidden;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 {
	position: absolute;
	left: 50%;
	top: 150px;
	transform: translate(-50%, 0);
	width: 1326px;
	height: 682px;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 .Rectangle5 {
	position: absolute;
	left: 50%;
	top: 2240px;
	transform: translate(-50%, 0);
	width: 1326px;
	height: 662px;
	background: rgba(254,254,254,0.86);
	border-radius: 20px;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 .Rectangle2 {
	position: absolute;
	left: 50%;
	top: 0px;
	transform: translate(-50%, 0);
	width: 1326px;
	height: 2210px;
	background: rgba(254,254,254,0.86);
	border-radius: 20px;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 .MejoradelaEficienciadeEnergasLimpiasparalaReduccindelaDependenciadeCombustiblesFsiles {
	position: absolute;
	left: 50%;
	top: 42px;
	transform: translate(-50%, 0);
	width: 1224px;
	height: 260px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	border: 1px solid rgba(0,0,0,1);
	font-family: Roboto;
	font-size: 48px;
	font-weight: 300;
	line-height: 56.25px;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 .Rectangle87 {
	position: absolute;
	left: 0px;
	top: 2949px;
	width: 1326px;
	height: 217px;
	background: rgba(254,254,254,0.86);
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 .image12 {
	position: absolute;
	left: 18px;
	top: 3008px;
	width: 100px;
	height: 100px;
	object-fit: cover;
	overflow: hidden;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 .Somosunequipodeinvestigacinqueconpasinycolaboracintransformaideasenrealidadyconstruyeelfuturo {
	position: absolute;
	left: 49.96229260935144%;
	top: 2968px;
	transform: translate(-50%, 0);
	width: 921px;
	height: 108px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 25px;
	font-weight: 400;
	line-height: 29.296875px;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 .Copyright20182024 {
	position: absolute;
	left: 50.03770739064856%;
	top: 3130px;
	transform: translate(-50%, 0);
	width: 435px;
	height: 36px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 25px;
	font-weight: 600;
	line-height: 29.296875px;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 .instagramlogo {
	position: absolute;
	left: 50%;
	top: 3051px;
	transform: translate(-50%, 0);
	width: 50px;
	height: 50px;
	object-fit: cover;
	overflow: hidden;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 .logox {
	position: absolute;
	left: 750px;
	top: 3051px;
	width: 50px;
	height: 50px;
	object-fit: cover;
	overflow: hidden;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 .facebook {
	position: absolute;
	left: 526px;
	top: 3051px;
	width: 50px;
	height: 50px;
	object-fit: cover;
	overflow: hidden;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 .EnelmarcodelosesfuerzosglobalespormitigarelcambioclimticoyreducirladependenciadecombustiblesfsilesunequipodeinvestigadoresdelDepartamentodeIngenieraEnergticadelaUniversidadhalanzadounproyectoinnovadorparamejorarlaeficienciadelasenergaslimpiasObjetivodelProyectoElproyectotienecomoobjetivoprincipaloptimizarlastecnologasdeenergasrenovablescomolasolaryelicaparaaumentarsueficienciayhacerlasmscompetitivasfrentealasfuentesdeenergaconvencionalesConunenfoquemultidisciplinariosebuscansolucionesquepermitanmaximizarlaproduccindeenergaapartirderecursosrenovablesminimizandoalmismotiempoloscostosoperativosydemantenimientoMetodologayEnfoqueElequipodeinvestigacinesttrabajandoenlaimplementacindenuevosmaterialesytecnologasavanzadascomolananotecnologaylainteligenciaartificialparaoptimizarlacaptacindeenergasolarylaeficienciadelasturbinaselicasAdemsseestndesarrollandosistemasdealmacenamientodeenergamseficientesparaasegurarlaestabilidaddelsuministroelctricoImpactoEsperadoEsteproyectoprometenosolomejorarlaeficienciadelasenergaslimpiassinotambincontribuirsignificativamentealareduccindelahuelladecarbonoSeesperaquelosresultadospermitanunadisminucinnotableenelusodecombustiblesfsilesacercandoalpasasusobjetivosdesostenibilidadyalatransicinhaciaunamatrizenergticamsverdeColaboracionesyApoyoElproyectocuentaconelapoyodevariasinstitucionespblicasyprivadasascomoconfinanciamientodelgobiernoydeorganismosinternacionalesinteresadosenlapromocindeenergassosteniblesAdemsseprevlacolaboracinconotrasuniversidadesycentrosdeinvestigacinparaampliarelalcancedelosdesarrollosysuimplementacinanivelnacionaleinternacionalEquipoyresponsablesdelProyectoPalabrasclaveEficienciaenergticaenergaslimpiasenergasrenovablesenergasolarenergaelicareduccindecombustiblesfsiles {
	position: absolute;
	left: 51px;
	top: 747px;
	width: 1224px;
	height: 1419px;
	color: rgba(59,59,59,1.00);
	font-family: Roboto;
	font-size: 24px;
	font-weight: 300;
	line-height: 28.125px;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 .Rectangle101 {
	position: absolute;
	left: 375px;
	top: 1868px;
	width: 231px;
	height: 22px;
	background: rgba(217,217,217,0.00);
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 .WhatsAppImage20240901at1738232 {
	position: absolute;
	left: 431px;
	top: 172px;
	width: 464px;
	height: 421px;
	object-fit: cover;
	overflow: hidden;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 .image17 {
	position: absolute;
	left: 376px;
	top: 1868px;
	width: 110px;
	height: 124px;
	object-fit: cover;
	overflow: hidden;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 .image {
	position: absolute;
	left: 724px;
	top: 1868px;
	width: 121px;
	height: 132px;
	object-fit: cover;
	overflow: hidden;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 .DraCarolMoragaresponsable {
	position: absolute;
	left: 265px;
	top: 2015px;
	width: 307px;
	height: 31px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(1,99,166,1.00);
	font-family: Roboto;
	font-size: 32px;
	font-weight: 400;
	line-height: 37.5px;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 .DraMarianaLpez {
	position: absolute;
	left: 640px;
	top: 2014px;
	width: 307px;
	height: 31px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(1,99,166,1.00);
	font-family: Roboto;
	font-size: 32px;
	font-weight: 400;
	line-height: 37.5px;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 .WhatsAppImage20240901at1738232_1 {
	position: absolute;
	left: 1155px;
	top: 1986px;
	width: 131px;
	height: 119px;
	object-fit: cover;
	overflow: hidden;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 .Elmodeladodecrecimientodeplantasseenfocaensimulareldesarrollodelasplantasbajodiversascondicionesambientalescomoluzaguaynutrientes {
	position: absolute;
	left: 30.731523378582203%;
	top: 2691px;
	transform: translate(-50%, 0);
	width: 295px;
	height: 230px;
	color: rgba(80,79,79,1.00);
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	line-height: 23.4375px;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 .Rectangle144 {
	position: absolute;
	left: 239px;
	top: 2341px;
	width: 313px;
	height: 532px;
	background: rgba(217,217,217,0.00);
	border-radius: 10px;
	border: 1px solid rgba(111.56248480081558,108.95937368273735,108.95937368273735,1);
	box-sizing: border-box;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 .ModelodecrecimientodeplantasJulio2024 {
	position: absolute;
	left: 257px;
	top: 2613px;
	width: 276px;
	height: 62px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Slabo 27px;
	font-size: 28px;
	font-weight: 400;
	line-height: 34.22222137451172px;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 .Rectangle145 {
	position: absolute;
	left: 239px;
	top: 2341px;
	width: 313px;
	height: 532px;
	background: rgba(217,217,217,0.00);
	border-radius: 10px;
	border: 1px solid rgba(111.56248480081558,108.95937368273735,108.95937368273735,1);
	box-sizing: border-box;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 .ModelodecrecimientodeplantasJulio2024_1 {
	position: absolute;
	left: 257px;
	top: 2613px;
	width: 276px;
	height: 62px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Slabo 27px;
	font-size: 28px;
	font-weight: 400;
	line-height: 34.22222137451172px;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 .image28 {
	position: absolute;
	left: 286px;
	top: 2371px;
	width: 219px;
	height: 176px;
	object-fit: cover;
	overflow: hidden;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 .DesarrollodedispositivosporttilesqueutilizantecnologadesecuenciacinrpidadeADNparaladeteccindeenfermedadesentiemporeal {
	position: absolute;
	left: 68.55203619909503%;
	top: 2727px;
	transform: translate(-50%, 0);
	width: 278px;
	height: 119px;
	color: rgba(85,81,81,1.00);
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	line-height: 23.4375px;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 .Rectangle144_1 {
	position: absolute;
	left: 749px;
	top: 2341px;
	width: 313px;
	height: 532px;
	background: rgba(217,217,217,0.00);
	border-radius: 10px;
	border: 1px solid rgba(111.56248480081558,108.95937368273735,108.95937368273735,1);
	box-sizing: border-box;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 .SistemasdeDiagnsticoPorttilesBasadosenADNAbril2022 {
	position: absolute;
	left: 770px;
	top: 2607px;
	width: 265px;
	height: 87px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Slabo 27px;
	font-size: 24px;
	font-weight: 400;
	line-height: 29.333332061767578px;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 .Rectangle145_1 {
	position: absolute;
	left: 749px;
	top: 2341px;
	width: 313px;
	height: 532px;
	background: rgba(217,217,217,0.00);
	border-radius: 10px;
	border: 1px solid rgba(111.56248480081558,108.95937368273735,108.95937368273735,1);
	box-sizing: border-box;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 .image28_1 {
	position: absolute;
	left: 811px;
	top: 2371px;
	width: 189px;
	height: 200px;
	object-fit: cover;
	overflow: hidden;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Frame1 .Otrosproyectos {
	position: absolute;
	left: 50%;
	top: 2271px;
	transform: translate(-50%, 0);
	width: 1224px;
	height: 56px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	border: 1px solid rgba(0,0,0,1);
	font-family: Roboto;
	font-size: 48px;
	font-weight: 300;
	line-height: 56.25px;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Rectangle75 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 109px;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .image11 {
	position: absolute;
	left: 35px;
	top: 5px;
	width: 100px;
	height: 100px;
	object-fit: cover;
	overflow: hidden;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Rectangle82 {
	position: absolute;
	left: 320px;
	top: 25px;
	width: 155px;
	height: 61px;
	background: rgba(237,239,237,1.00);
	border-radius: 15px;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Inicio {
	position: absolute;
	left: 371px;
	top: 42px;
	width: 53px;
	height: 25px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 22px;
	font-weight: 400;
	line-height: 25.78125px;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Rectangle76 {
	position: absolute;
	left: 500px;
	top: 24px;
	width: 155px;
	height: 61px;
	background: rgba(237,239,237,1.00);
	border-radius: 15px;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Noticias {
	position: absolute;
	left: 536px;
	top: 42px;
	width: 82px;
	height: 25px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 22px;
	font-weight: 400;
	line-height: 25.78125px;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Rectangle78 {
	position: absolute;
	left: 680px;
	top: 25px;
	width: 155px;
	height: 61px;
	background: linear-gradient(180deg, rgba(204, 238, 233, 1.00) 0.0%, rgba(1, 99, 166, 1.00) 100.0%);
	border-radius: 15px;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Proyectos {
	position: absolute;
	left: 708px;
	top: 42px;
	width: 104px;
	height: 25px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 22px;
	font-weight: 400;
	line-height: 25.78125px;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Rectangle79 {
	position: absolute;
	left: 860px;
	top: 24px;
	width: 155px;
	height: 61px;
	background: rgba(237,239,237,1.00);
	border-radius: 15px;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Software {
	position: absolute;
	left: 898px;
	top: 42px;
	width: 84px;
	height: 26px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 22px;
	font-weight: 400;
	line-height: 25.78125px;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Rectangle81 {
	position: absolute;
	left: 1220px;
	top: 24px;
	width: 155px;
	height: 61px;
	background: rgba(237,239,237,1.00);
	border-radius: 15px;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Contacto {
	position: absolute;
	left: 1252px;
	top: 42px;
	width: 90px;
	height: 25px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 22px;
	font-weight: 400;
	line-height: 25.78125px;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Component1 {
	position: absolute;
	left: 1040px;
	top: 24px;
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Component1 .Rectangle80 {
}
.PaginadeProyectosProyecto_PaginadeProyectosProyecto .Component1 .Nosotros {
	font-weight: 400;
}