
.Property1Variant3_Property1Variant3 {
	width: 155px;
	height: 264px;
}
.Property1Variant3_Property1Variant3 .Rectangle82 {
	position: absolute;
	left: 0px;
	top: 203px;
	width: 155px;
	height: 61px;
	background: rgba(237,239,237,1.00);
	border-radius: 15px;
}
.Property1Variant3_Property1Variant3 .Equipo {
	position: absolute;
	left: 49px;
	top: 217px;
	width: 70px;
	height: 25px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 22px;
	font-weight: 400;
	line-height: 25.78125px;
}
.Property1Variant3_Property1Variant3 .Rectangle80 {
	position: absolute;
	left: 0px;
	top: 65px;
	width: 155px;
	height: 61px;
	background: rgba(237,239,237,1.00);
	border-radius: 15px;
}
.Property1Variant3_Property1Variant3 .Rectangle81 {
	position: absolute;
	left: 0px;
	top: 134px;
	width: 155px;
	height: 61px;
	background: rgba(237,239,237,1.00);
	border-radius: 15px;
}
.Property1Variant3_Property1Variant3 .Investigacin {
	position: absolute;
	left: 15px;
	top: 153px;
	width: 130px;
	height: 25px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 22px;
	font-weight: 400;
	line-height: 25.78125px;
}
.Property1Variant3_Property1Variant3 .Nosotros {
	position: absolute;
	left: 32px;
	top: 83px;
	width: 93px;
	height: 25px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 22px;
	font-weight: 400;
	line-height: 25.78125px;
}
.Property1Variant3_Property1Variant3 .Component1 {
	position: absolute;
	left: 0px;
	top: 0px;
}
.Property1Variant3_Property1Variant3 .Component1 .Rectangle80_1 {
}
.Property1Variant3_Property1Variant3 .Component1 .Nosotros_1 {
	font-weight: 400;
}